<app-navbar></app-navbar> <!--navbar aqui-->
<div class="container-fluid">
    <!-- Barra de búsqueda -->
    <div class="container mt-4 search-bar">
        <div class="row mb-4">
            <div class="col-md-2">
                <label class="form-label" for="origin">Origen</label>
                <select id="origin" class="form-control">
                    <option>ORIGEN</option>
                    <option>Trujillo</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="destination">Destino</label>
                <select id="destination" class="form-control">
                    <option>DESTINOS</option>
                    <option>Cajamarca</option>
                    <option>Lima</option>
                    <option>Chiclayo</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label" for="start-date">Fecha de inicio:</label>
                <input type="date" id="start-date" class="form-control">
            </div>
            <div class="col-md-2">
                <label class="form-label" for="end-date">Fecha de llegada:</label>
                <input type="date" id="end-date" class="form-control">
            </div>
            <div class="col-md-1 d-flex align-items-end">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/list">ACTIVADOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/edit">DESACTIVADOS</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link " routerLink="/add">AÑADIR</button>
                </li>
            </ul>
        </div>
    </div>


    <div class="travel-grid">
        <div class="card travel-card" *ngFor="let trip of trips">
            <img [src]="trip.image" class="card-img-top" alt="Trip Image" />
            <div class="card-body">
                <p class="card-text">{{ trip.description }}</p>
                <div class="row">
                    <div class="btn-group">
                        <!-- Botón Editar -->
                        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#editModal">
                            EDITAR
                        </button>

                        <!-- Botón Eliminar -->
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">
                            HABILITAR
                        </button>

                        <!-- Botón Establecer Nuevo -->
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#setNewModal">
                            ELIMINAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">Editar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas editar este ítem?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Eliminar -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Eliminar</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas eliminar este ítem?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Establecer Nuevo -->
    <div class="modal fade" id="setNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="setNewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="setNewModalLabel">Establecer Nuevo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas establecer un nuevo ítem?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-secondary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>