/* You can add global styles to this file, and also import other style files */
.logout-button {
  color: black; /* Color del texto */
  background-color: red; /* Color de fondo */
  border: 1px solid red; /* Borde del botón */
}

.logout-button:hover {
  background-color: darkred; /* Color de fondo al pasar el mouse */
  border: 1px solid darkred; /* Borde del botón al pasar el mouse */
}

body{
  margin: 0;
  padding: 0;
}

body.dark .contenedor-principal,
body.dark div {
  background-color: #343a40 !important;
  color: white;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p {
  color: white !important; 
}



.modal {
  z-index: 1050; /* o un número mayor */
}

.modal-backdrop {
  z-index: 1040; /* o un número menor */
}
